body{
    background-color: blue;/*reageert kennelijk niet*/
}
.test{
    background-color: rgba(255, 0, 0, 0.329);
}
#plus{
    font-size: 30px;
    font-weight: bold;
}
#toevoegen{
    font-size: 25px;
    padding-top: -20px;
    padding-bottom: -20px;
} 
.btn-success{
   margin-left: 50px;
}
.btn-danger{
    margin-right: 50px;
    float: right;
 }